@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
    background-image: url(./img/background.jpg);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

:root{
    --main-font: "EB Garamond";
}